<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/dashboard.css">
    <title>User Information</title>
</head>
<body>
    <button id="signOutBtn">Sign Out</button>
    <button id="uploadBtn">Upload</button> 
    <h1>User Information</h1>
    <div>
        <h2>Your Pallete</h2>
        <strong>Name:</strong> <span id="userName"></span><br>
        <strong>Season:</strong> <span id="userSeason"></span><br>
        <strong>Matching Colors:</strong> <span id="userColors"></span><br>
        <strong>Best Hair Colors:</strong> <span id="userHairColors"></span><br>
    </div>

    <!-- Link the JavaScript file -->
    <script src="/static/scripts/dashboard.js"></script>
</body>
</html>
