<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="form-container">
        <div class="form-section">

            <h1>Log In</h1>
            <form id="logInForm">
                
                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>
                <label for="signUpPassword">Password:</label>
                <input type="password" name="password" class="field" required>
                <p class="error error--hidden"></p>

                <button type="submit">Log In</button>
            </form>

            <p>Don't have an account? <a href="/signup/">Sign Up</a></p>

        </div>
    </div>
    
    <script src="/static/scripts/login.js"></script>
</body>
</html>
