<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="form-container">
        <div class="form-section">

            <h1>Sign Up</h1>
            <form id="signUpForm">
                <label for="signUpUsername">Username:</label>
                <input type="text" name="username" class="field" required>
                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>
                <label for="signUpPassword">Password:</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <button type="submit">Sign Up</button>
            </form>

            <p>Already have an account? <a href="/login/">Log In</a></p>

        </div>
    </div>
    
    <script src="/static/scripts/signup.js"></script>
</body>
</html>
