<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Color Correction</title>
        <link rel="stylesheet" href="/static/styles/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    </head>
    <body>
        <button id="signOutBtn">Sign Out</button>
        <button id="dashboardBtn">Dashboard</button> 
        <div class="hero">
            <label for="input-file" id="drop-area">
                <input type="file" accept="image/*" id="input-file" hidden>
                <div id="img-view">
                    <img src="/static/images/508-icon.png">
                    <p>Drag and Drop or click here<br>to upload image</p>
                    <span>Upload any images from desktop</span>
                </div>
            </label>
            <form>
                <div id="colorchoice">
                    <label for="favcolor">Select your skin color:</label>
                    <input type="color" id="skincolor" name="skincolor" value="#ff0000"><br><br>
                    <p id="skin-color-display"></p>
                </div>
                <div id="output">
                </div>
            </form>

        </div>
        <script src="/static/scripts/script.js"></script>
    </body>
</html>