* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-section {
    flex: 1;
    margin: 0 10px;
}

form {
    width: 100%; /* Adjust as needed */
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    color: #6831FF;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.field {
    width: calc(100% - 20px); /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #bbb5ff;
    border-radius: 5px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 5px;
}

button {
    background-color: #6831FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a39eff;
}

.error--hidden {
    display: none;
}
a {
    color: #6831FF; /* Default color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
}

a:hover {
    color: #a39eff; /* Change color on hover to match button hover color */
}
